* {
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 26px;
}

body {
   background-image: url(https://images.unsplash.com/photo-1585701456523-3daa9cfee779?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNyb2NoZXR8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
}


header {
   height: 80px;
   width: 100%;
   background-color: #000;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1em;
}

header h1 {
   /* text-transform: uppercase;*/
    margin: 0;
    padding: ;
    text-align: center;
    position: center:
	 font-family: 'Cedarville Cursive', cursive;
      
} 

div{
   border: 1px solid black;
   width: 200px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 30px;
    margin: 200px auto;
    background-color: #000;
    color: #FFF;
    border-radius: 10px;
    border: 1.5px solid;
}

.lead-button {
   margin: 5px 0;
   padding: 5px 65px;
   border: 1px solid #000;
   background-color: #fff;
   border-radius: 10px;
   color: #f94144;
   font-stretch: condensed;
   font-family: 'Libre Baskerville', serif;
   
}

.lead-button:hover {
   cursor: pointer;
   border: 1px solid #ffbe0b;
   background-color: #d62828;
   color: #ffbe0b;
}

footer{
    background-color: #494949;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
