* {
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 26px;
}

body {
   background-image: url(https://images.pexels.com/photos/768114/pexels-photo-768114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
}


header {
   height: 80px;
   width: 100%;
   background-color: #000;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1em;
}

header h1 {
   /* text-transform: uppercase;*/
    margin: 0;
    padding: 10px;
    text-align: center;
    position: center:
	 font-family: 'Cedarville Cursive', cursive;
      
} 

div{
   border: 1px solid black;
   width: 700px;
}

.card{
    display: grid;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 200px auto;
    /* background-color: #000; */
    border-radius: 10px;
    /* border: 1.5px solid; */
    background-color: rgba(117, 190, 218, 0.5);
}

.lead-button {
       margin: 5px 5px;
    padding: 5px 30px;
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    font-stretch: condensed;
    font-family: 'Libre Baskerville', serif;
   
}

.lead-button:hover {
   cursor: pointer;
   border: 1px solid #ffbe0b;
   background-color: #d62828;
   color: #ffbe0b;
}

.blackimg{
   width: 200px;
   height:200px;
   display: flex;
}

footer{
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
